<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/profile"></ion-back-button>
    </ion-buttons>
    <ion-title>Tukar Kata Laluan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Kata Laluan Semasa</ion-label>
      <ion-input formControlName="current_password" type="password" required></ion-input>
    </ion-item>
    <ion-note color="danger" *ngIf="changePasswordForm.get('current_password')?.touched && changePasswordForm.get('current_password')?.errors?.['required']">
      Kata laluan semasa diperlukan
    </ion-note>

    <ion-item>
      <ion-label position="floating">Kata Laluan Baru</ion-label>
      <ion-input formControlName="password" type="password" required></ion-input>
    </ion-item>
    <ion-note color="danger" *ngIf="changePasswordForm.get('password')?.touched && changePasswordForm.get('password')?.errors?.['required']">
      Kata laluan baru diperlukan
    </ion-note>
    <ion-note color="danger" *ngIf="changePasswordForm.get('password')?.touched && changePasswordForm.get('password')?.errors?.['minlength']">
      Kata laluan mesti sekurang-kurangnya 8 aksara
    </ion-note>

    <ion-item>
      <ion-label position="floating">Sahkan Kata Laluan Baru</ion-label>
      <ion-input formControlName="password_confirmation" type="password" required></ion-input>
    </ion-item>
    <ion-note color="danger" *ngIf="changePasswordForm.get('password_confirmation')?.touched && changePasswordForm.get('password_confirmation')?.errors?.['required']">
      Pengesahan kata laluan diperlukan
    </ion-note>
    <ion-note color="danger" *ngIf="changePasswordForm.get('password_confirmation')?.touched && changePasswordForm.hasError('passwordMismatch')">
      Kata laluan tidak sepadan
    </ion-note>

    <div class="ion-padding">
      <ion-button expand="block" type="submit" [disabled]="!changePasswordForm.valid || isLoading">
        <ion-spinner *ngIf="isLoading" name="crescent"></ion-spinner>
        <span *ngIf="!isLoading">Tukar Kata Laluan</span>
      </ion-button>
    </div>
  </form>
</ion-content>