<ion-header>
  <ion-toolbar class="orange-toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Smart Help with BatBot</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="chat-container">
    <div *ngFor="let msg of messages" class="chat-row" [ngClass]="msg.sender">
      
      <img *ngIf="msg.sender === 'bot'" class="chat-avatar" src="assets/icon/bot.png" alt="Bot" />
      <img *ngIf="msg.sender === 'user'" class="chat-avatar" src="https://i.pravatar.cc/100" alt="User" />

      <div>
        <div class="sender-name">
          {{ msg.sender === 'bot' ? 'BatBot 🤖' : 'You' }}
        </div>
        <div class="chat-bubble">
          {{ msg.text }}
        </div>
      </div>

    </div>
  </div>

  <ion-item lines="none" class="input-bar">
    <ion-input [(ngModel)]="newMessage" placeholder="Type your message..." class="chat-input"></ion-input>
    <ion-button (click)="sendMessage()" class="orange-toolbar">Send</ion-button>
  </ion-item>
</ion-content>
