<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/profile"></ion-back-button>
    </ion-buttons>
    <ion-title>Privacy & Security</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <h4 class="section-title">Change Password</h4>

  <ion-item>
    <ion-label position="floating">Current Password</ion-label>
    <ion-input type="password" [(ngModel)]="passwords.current"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">New Password</ion-label>
    <ion-input type="password" [(ngModel)]="passwords.new"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Confirm New Password</ion-label>
    <ion-input type="password" [(ngModel)]="passwords.confirm"></ion-input>
  </ion-item>

  <ion-button expand="block" class="save-btn" (click)="changePassword()">
    Update Password
  </ion-button>

</ion-content>
