<ion-header>
  <ion-toolbar>
    <ion-title>Lupa Kata Laluan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="email" type="email" required></ion-input>
    </ion-item>
    <ion-note color="danger" *ngIf="forgotForm.get('email')?.touched && forgotForm.get('email')?.errors?.['required']">
      Email diperlukan
    </ion-note>
    <ion-note color="danger" *ngIf="forgotForm.get('email')?.touched && forgotForm.get('email')?.errors?.['email']">
      Sila masukkan email yang sah
    </ion-note>
    <div class="ion-padding">
      <ion-button expand="block" type="submit" [disabled]="!forgotForm.valid || isLoading">
        <ion-spinner *ngIf="isLoading" name="crescent"></ion-spinner>
        <span *ngIf="!isLoading">Hantar</span>
      </ion-button>
    </div>
  </form>
</ion-content>